.playwrite-in-unique {
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-weight: 300; /* Ajusta el peso según sea necesario */
  font-style: normal;
}

.header {
  width: 100%;
  height:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  margin-top: 30px;
}

.header .MuiAppBar-root {
  background-color: transparent !important;
  box-shadow: none !important;
  color: white !important;
  font-size: 1.5rem !important;
  border: 2px solid white !important;
  border-radius: 10px !important;
  width: 80% !important;
}

.header .MuiTypography-root
{
  font-size: 20px !important;
  cursor: pointer !important;
  transition: 0.3s ease-in-out;
}

.header .MuiTypography-root:hover
{
  color: #2d9ea4 !important;
  text-shadow: 10px 10px 2px #000000;
}

.header .MuiAvatar-root {
  width: 50px !important;
  height: 50px !important;
  transition: transform 0.3s ease-in-out;
}

.header .MuiAvatar-root:hover
{
  transform: scale(1.2);
}
