.playwrite-in-unique {
    font-family: "Playwrite IN", serif;
    font-optical-sizing: auto;
    font-weight: 300; /* Ajusta el peso según sea necesario */
    font-style: normal;
}

.experiencia {
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    border: 30px solid rgb(255, 255, 255);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Playwrite IN', serif;
    position: relative;
    background-image: url('/img/salto_huilohuilo.webp'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.experiencia::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según sea necesario */
    z-index: -1;
}

.experiencia .MuiStepper-root p, .experiencia .MuiStepper-root span, .experiencia .MuiStepper-root .MuiButtonBase-root {
    font-family: 'Playwrite IN', serif !important;
}

.experiencia .MuiStepper-root p, .experiencia .MuiStepper-root span {
    font-size: 1.2rem;
    padding: 0.8rem;
}



.experiencia .contenedor_stepper
{
    background-color: rgb(255, 255, 255, 0.885);
    border-radius: 20px;
    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px 0px;
    border: 2px solid rgb(0, 0, 0);
}

.experiencia .contenedor_stepper .MuiStepper-root .MuiButton-contained
{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 10px;
}