.playwrite-in-unique {
    font-family: "Playwrite IN", serif;
    font-optical-sizing: auto;
    font-weight: 300; /* Ajusta el peso según sea necesario */
    font-style: normal;
}

.experiencia {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
    border: 30px solid rgb(255, 255, 255);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Playwrite IN', serif;
    position: relative;
    background-image: url('/img/salto_huilohuilo.webp'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.experiencia::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad según sea necesario */
    z-index: -1;
}

.experiencia .MuiTimeline-root .MuiTypography-root {
    font-family: 'Playwrite IN', serif !important;
}

.titulo_experiencia
{
    color: white;
}
