.presentacion2 {
    position: relative; /* Necesario para el uso de ::before */
    display: flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
    height: 100vh;
    background-image: url('/img/glaciar_grey_cerca.webp'); /* Ruta a tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.presentacion2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Filtro oscuro */
    z-index: 1; /* Asegura que el filtro esté sobre la imagen de fondo */
}