.presentacion_general {
    height: 100vh;
    width: 100%;
    background-image: url('/img/glaciar_grey_cerca.webp');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -100px;
}

.presentacion_general::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Filtro oscuro */
    z-index: 1; /* Asegura que el filtro esté sobre la imagen de fondo */
}

.presentacion_general h1{
    color: aliceblue;
    z-index: 2;
}