.contenido_general {
    position: relative; /* Asegura que el div esté posicionado relativamente */
    z-index: 1; /* Asegura que este div esté sobre el div de Bienvenida */
    margin: 0%;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transición para el movimiento y la opacidad */
    border: 50px solid #ababab84; /* Agrega un borde superior de 20px de color verde */
    border-radius: 1%;
    background-color: white;
}

.contenido_general.scrolled {
    transform: translateY(-70vh); /* Ajusta este valor según sea necesario */
    opacity: 1;
}

.contenido_inicio {
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transición para la escala y la opacidad */
}

.contenido_inicio.scaled {
    transform: scale(0.95); /* Escala a 0.8 */
    filter: blur(5px); /* Aplica un desenfoque */
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(67, 67, 67);
}


@media screen and (max-width: 600px) {
    .nombre {
        font-size: 2rem;
    }

    .rol {
        font-size: 1.5rem;
    }

    .boton-iniciar {
        font-size: 1rem;
    }

    .contenido_general.scrolled
    {
        transform: translateY(-70vh);
    }
    
}