.contenido_general {
    position: relative; /* Asegura que el div esté posicionado relativamente */
    z-index: 1; /* Asegura que este div esté sobre el div de Bienvenida */
    margin: 0%;
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transición para el movimiento y la opacidad */
}

.contenido_general.scrolled {
    transform: translateY(-50vh); /* Ajusta este valor según sea necesario */
    opacity: 1;
}

.contenido_inicio {
    transition: transform 0.5s ease, opacity 0.5s ease; /* Transición para la escala y la opacidad */
}

.contenido_inicio.scaled {
    transform: scale(0.95); /* Escala a 0.8 */
    filter: blur(5px); /* Aplica un desenfoque */
}

.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(67, 67, 67);
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el header esté sobre otros elementos */
}