.playwrite-in-unique {
    font-family: "Playwrite IN", serif;
    font-optical-sizing: auto;
    font-weight: 300; /* Ajusta el peso según sea necesario */
    font-style: normal;
  }
  

.certificados
{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    border: 40px solid rgb(255, 255, 255);
    border-radius: 2%;
    background-image: url('img/coralAustralia.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.certificados::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.certificados::after
{
    border: 1px solid rgb(255, 255, 255);
}

.certificados h2
{
    z-index: 2;
    font-family: 'Playwrite IN', serif;
    color: white;
}

.certificados .MuiTypography-root{
    font-family: 'Playwrite IN', serif;
    color: rgb(0, 0, 0);
}


.contenedor_certificados
{
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    width: 100%;
}

.certificados .MuiCard-root
{
    margin: 10px; 
    width: 500px;
    height: 43vh;
    background-color: rgb(255, 255, 255, 0.885) !important;
    border-radius: 2%;
    transition: transform 1s, box-shadow 1s;
}

.certificados .MuiCard-root:hover
{
    transform: scale(1.05) ;
    box-shadow: 0px 0px 20px 15px rgba(101, 181, 136, 0.6);
}

.certificados .MuiButtonBase-root
{
    height: 100%;
}

.certificados .MuiCardMedia-root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 90%;
    border: 2px solid black;
    border-radius: 2%;
    margin: 0px auto;
}

.certificados .MuiCardMedia-root img {
    height: auto !important;
    width: auto !important;
}


@media screen and (max-width: 1700px)
{
    .contenedor_certificados .MuiCard-root
    {
        max-width: 400px;
        height: 300px;
    }
    .certificados .MuiCardMedia-root {
        height:11rem;
    }
    .certificados .MuiCard-root .MuiCardContent-root
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    .certificados .MuiCard-root .MuiCardContent-root .MuiTypography-root
    {
        font-size: 1rem;
        width: 80%;
    }
    
}

@media screen and (max-width: 980px)
{
    .contenedor_certificados
    {
        flex-direction: column;
    }
    .contenedor_certificados .MuiCard-root
    {
        max-width: auto;
        height: 200px;
    }
    .certificados .MuiCardMedia-root {
        height:5rem;
    }
    
}

@media screen and (max-width: 600px)
{
    .certificados .MuiCardMedia-root {
        height: 5rem;
    }
    .contenedor_certificados .MuiCard-root
    {
        max-width: 300px;
        height: 200px;
    }

    .certificados .MuiCard-root .MuiCardMedia-root
    {
        padding: 2%;
    }

    .certificados .MuiCard-root .MuiCardContent-root
    {
        padding: 3%;
    }
    .certificados .MuiCard-root .MuiCardContent-root .MuiTypography-root
    {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 400px)
{
    .certificados .MuiCardMedia-root {
        height: 10vh;
    }
    .contenedor_certificados .MuiCard-root
    {
        max-width: 250px;
        height: 150px;
    }
    .certificados .MuiCard-root .MuiCardContent-root .MuiTypography-root
    {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 400px) and (max-height: 1000px) {
    .contenedor_certificados .MuiCard-root {
        max-width: auto;
        height: 170px;
    }
    .certificados .MuiCardMedia-root {
        height: 4rem;
    }
    .certificados .MuiCard-root .MuiCardContent-root .MuiTypography-root {
        font-size: 0.8rem;
    }
}
